body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #050b24;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  user-select: none;
  touch-action: none;
}

canvas {
  display: block;
}
